<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{{ title }}</title>

</head>

<body>

    <header>
        <h2>{{ welcome_message }}</h2>
    </header>

    <main>
            {% if current_user.is_authenticated %}
                <h1>{{user}}</h1>
                <a href="{{ url_for('settings') }}">Settings</a>
                <a href="{{ url_for('store') }}">Store</a>
                <a href="{{ url_for('shoppingcart') }}">Shopping Cart</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}



    </main>

    <footer>
        <p>&copy; 2024 {{ footer_text }}</p>
    </footer>

</body>

</html>
