<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
Log In
    <form action="#" method="post">
      <label for="email">email:</label>
      <input type="text" name="email" />
      <label for="password">Password:</label>
      <input type="password" name="password" />
      <label for="RememberMe">Remember Me</label>
      <input type="checkbox" name="RememberMe">
      <button type="submit">Submit</button>
    </form>
</body>
</html>