<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header>
        <h2>{{ welcome_message }}</h2>
    </header>
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post">
      <input type="text" name="email" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>
      <button>Login</button>
      <p><label for="RememberMe">Remember Me</label>
      <input type="checkbox" name="RememberMe"></p>
    </form>
  </div>
</div>
<footer>
        <p>&copy; 2024 {{ footer_text }}</p>
    </footer>
</body>
</html>