<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h2>{{ welcome_message }}</h2>
    </header>
    <h1>{{ productname }}</h1>
    <ul>
        Rating: {{ rating }}
        Available in stock: {{ stock }}
        Price: {{ price }}
        <form action="#" method="POST">
            <input type="hidden" name="prod_id" value="{{ prod_id }}">
            <button type="submit">Add to Shopping Cart</button>
        </form>
        <li><a href="{{ url_for('shoppingcart') }}">Shopping Cart</a></li>
    </ul>
    <footer>
        <p>&copy; 2024 {{ footer_text }}</p>
    </footer>
</body>
</html>