<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header>
        <h2>{{ welcome_message }}</h2>
    </header>
<h2><a href="{{ url_for('shoppingcart') }}">Shopping Cart</a></h2>
    <div class="container">
        {% for productname, prod_id, price in products %}
        <div class="product-card">
            <div class="product-tumb">
                <img src="../static/beer.png" alt="">
            </div>
            <div class="product-details">
                <h4><a href="/product/{{ prod_id }}">{{ productname }}</a></h4>
                <p>Beskrivning</p>
                <div class="product-bottom-details">
                    <div class="product-price"> {{ price }} kr</div>
                    <div class="product-links">

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<footer>
        <p>&copy; 2024 {{ footer_text }}</p>
    </footer>
</body>
</html>