<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header><h2>Non-alcoholic Beer Store</h2></header>
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post">
      <input type="text" name="email" placeholder="Email"/>
      <input type="text" name="firstname" placeholder="First Name"/>
      <input type="text" name="lastname" placeholder="Last Name" />
      <input type="password" name="password" placeholder="password"/>
      <button>Register</button>
    </form>
  </div>
</div>
<footer></footer>
</body>
</html>