<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <header>
        <h2>{{ welcome_message }}</h2>
    </header>

    <main>
    <form action="#" method="post">
    <label for="StreetAddress">Street Address:</label>
    <input type="text" name="StreetAddress" value="{{ user_info.street_address }}">
    <label for="zip_code">Zip Code:</label>
    <input type="number" name="zip_code" value="{{ user_info.zip_code }}">
    <label for="Region">Region:</label>
    <input type="text" name="Region" value="{{ user_info.region }}">
    <label for="City">City:</label>
    <input type="text" name="City" value="{{ user_info.city }}">
      <button type="submit">Submit</button>
    </form>

    </main>

    <footer>
        <p>&copy; 2024 {{ footer_text }}</p>
    </footer>
</body>
</html>