<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header><h2>Non-alcoholic Beer Store</h2></header>
    <h2><a href="{{ url_for('shoppingcart') }}">Shopping Cart</a></h2>

    <div class="container">
        {% for category, category_id in categories %}
        <div class="product-card">
            <div class="product-tumb">
                <img src="https://i.imgur.com/xdbHo4E.png" alt="">
            </div>
            <div class="product-details">
                <h4><a href="/category/{{ category_id }}">{{ category }}</a></h4>
                <p>Beskrivning</p>
                <div class="product-bottom-details">
                    <div class="product-links">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<footer></footer>

</body>
</html>